* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 18px;*/
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    color: #555;
    background-color: #e5e5e5;
}

li {
    list-style-type: square;
    padding: 10px;
    margin-left: 15px;
}

p {
    font-size: 18px;
    padding: 10px;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 300;
}

h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black
}

h1 {
    margin: 25px 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

h2:after {
    display: block;
    content: '';
    width: 80%;
    height: 1px;
    background-color: white;
    margin: 0.4em auto 0;
}

.content {
    margin-top: 0px;
}

.navbar {
    background-color: #bdbdbd;
}

@media screen and (max-width:769px) {
    * {
        font-size: 14px;
    }

    p {
        font-size: 14px;
        padding: 10px;
    }

    h2 {
        font-size: 22px
    }

    .title {
        padding: 10px;
        margin: 10px;
    }

    img {
        width: 100%;
    }

    .logo-img {
        margin-top: 50px
    }

}

@media screen and (min-width:768px) {
    .nav2 {
        margin-left: 0px;
        margin-bottom: 0px;
    }

    #navbar-top {
        display: none;
    }

}

.hide-text {
    background-color: lightgrey;
    padding: 20px;
}

.hide-text-content {
    background-color: white;
    padding: 20px;
}

.cont-text {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 26px;
    color: white;
    text-align: center;
    padding: 40px;
    height: 450px;
}

.imgstyle {
    width: 100%;
    min-height: 400px;
}

.text-img {
    height: 450px;
    width: 100%;
}

.crop {
    float: left;
    margin: .5em 10px .5em 0;
    border: 1px solid #ccc;
}

.crop img {
    margin: 1px 1px 1px 1px;
    height: 200px;
    width: 100%;
}

.title {
    background-color: white;
    padding: 20px;
    /*margin-bottom: 20px;*/
    margin-top: 30px;
}

.title h2 {
    margin: 0;
}

.pad-text {
    margin-bottom: 0px;
}

.t1img {
    background-image: url("../img/img1r.jpg");
}

.t2img {
    background-image: url("../img/img2l.jpg");
}

.t3img {
    background-image: url("../img/img3r.jpg");
}

.t4img {
    background-image: url("../img/img4l.jpg");
}

.t5img {
    background-image: url("../img/img5r.jpg");
}

.t6img {
    background-image: url("../img/img6l.jpg");
}

.t7img {
    background-image: url("../img/img7r.jpg");
}

.t8img {
    background-image: url("../img/img8l.jpg");
}

.t9img {
    background-image: url("../img/img9r.jpg");
}

.t10img {
    background-image: url("../img/img10l.jpg");
}

.t11img {
    background-image: url("../img/img11r.jpg");
}



.gallery {
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.gallery > div {
    position: relative;
    float: left;
    padding: 5px;
}

.gallery > div > img {
    display: block;
    width: 200px;
    transition: .1s transform;
    transform: translateZ(0);
}

.gallery > div:hover {
    z-index: 1;
}

.gallery > div:hover > img {
    transform: scale(1.7, 1.7);
    transition: .3s transform;
}

.cf:before,
.cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}



.navbar-default .navbar-nav>li>a {
    color: white;
}

.footer {
    background: white;
    margin-top: 20px;
}

.phone li {
    list-style-type: none;
    text-align: center;
}

#toTop {
    width: 100px;
    border: 1px solid #ccc;
    background: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    color: White;
    font-family: verdana;
    font-size: 16px;
}

.head-text-top {
    margin: 2px;
    border: solid black 1px;
    border-radius: 100px;
    background-color: lightgrey;
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: white;
}

.head1 {
}

.head1 p {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    padding: 10px;
    margin: 5px;
    color: black;
}

#scrollup {
    transform: rotate(270deg);
    bottom: 50%;
    right: -65px;
}

#scrollup a {
    font-size: 20px;
}

.modal-dialog {
    top: 30%;
}

.nav-b {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
    width: 100%
}

.nav-b:hover {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
    height: 100%
}

.nav-a {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: 2px solid black;
    margin: 5px;
}

.btn-md {
    width: 100%;
}

.navbar {
    background-color: white;
}

.head-text-top {
    margin-top: 40px;
}

.btn-group-justified {
    text-align: center
}



/*** PRICE-LIST ***/

.ps {

}

.ps__table>tbody>tr>td,
.ps__sum-table>tbody>tr>td,
.ps__table>tbody>tr>th,
.ps__sum-table>tbody>tr>th {
    vertical-align: middle;
}

.ps__btn-add {
    padding: 0;
    color: rgba(0,0,0, .9);
}

.ps__btn-add:hover,
.ps__btn-add:focus {
    outline: none !important;
}

.ps__btn-add:hover,
.ps__btn-add:focus:hover {
    text-decoration: none;
    color: rgba(0,0,0, .7);
}

.ps__btn-add:focus {
    color: rgba(0,0,0, .9);
}

.ps__btn-add--disabled {
    color: rgba(0,0,0, .4);
    cursor: not-allowed;
}

.ps__btn-add--disabled:hover,
.ps__btn-add--disabled:focus:hover {
    text-decoration: none;
    color: rgba(0,0,0, .4);
}

.ps__btn-add--disabled:focus {
    color: rgba(0,0,0, .4);
}



.ps__btn-close {
    outline: none;
}


.ps__table>thead>tr>th:nth-child(1) {
    width: 4%;
}

.ps__table>thead>tr>th:nth-child(2) {
    width: 71%;
}

.ps__table>thead>tr>th:nth-child(3) {
    width: 9%;
}

.ps__table>thead>tr>th:nth-child(4) {
    width: 11%;
}

.ps__table>thead>tr>th:nth-child(5) {
    width: 5%;
}

.ps__table>tbody>tr>td:nth-child(5) {
    text-align: center;
}


.ps__board {
    
}

.ps__sum-table input {
    width: 90%;
    height: 28px;
}

.ps__sum-table>thead>tr>th:nth-child(1) {
    width: 4%;
}

.ps__sum-table>thead>tr>th:nth-child(2) {
    width: 59%;
}

.ps__sum-table>thead>tr>th:nth-child(3) {
    width: 8%;
}

.ps__sum-table>thead>tr>th:nth-child(4) {
    width: 8%;
}

.ps__sum-table>thead>tr>th:nth-child(5) {
    width: 8%;
}

.ps__sum-table>thead>tr>th:nth-child(6) {
    width: 8%;
}

.ps__sum-table>thead>tr>th:nth-child(7) {
    width: 5%;
}


/*.ps__sum-table .sum-main {
    font-weight: bold;
    font-size: 1.1em;
}
*/
.ps__sum-table tfoot {
    font-weight: bold;
}

.ps_sum-table .close {
    cursor: pointer;
}

